@font-face {
    font-family: "nakheelregular_text";
    src        : url("../fonts/Nakheel-TextRegular.eot");
    src        : url("../fonts/Nakheel-TextRegular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nakheel-TextRegular.woff2") format("woff2"),
        url("../fonts/Nakheel-TextRegular.woff") format("woff");
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: "nakheelregular_headline";
    src        : url("../fonts/Nakheel-HeadlineRegular.eot");
    src        : url("../fonts/Nakheel-HeadlineRegular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nakheel-HeadlineRegular.woff2") format("woff2"),
        url("../fonts/Nakheel-HeadlineRegular.woff") format("woff");
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: "nakheelbold_text";
    src        : url("../fonts/Nakheel-TextBold.eot");
    src        : url("../fonts/Nakheel-TextBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nakheel-TextBold.woff2") format("woff2"),
        url("../fonts/Nakheel-TextBold.woff") format("woff");
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: "nakheelbold_headline";
    src        : url("../fonts/Nakheel-HeadlineBold.eot");
    src        : url("../fonts/Nakheel-HeadlineBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nakheel-HeadlineBold.woff2") format("woff2"),
        url("../fonts/Nakheel-HeadlineBold.woff") format("woff");
    font-weight: normal;
    font-style : normal;
}