.footer {
    .top-section {
        display: flex;

        .top-collapse {
            .accordion-item {
                border: none;

                .accordion-header {
                    padding      : 50px 0 28px 0;
                    border-bottom: 1px solid $border-color;
                    @media(max-width:1024px) {
                        text-align: center;
                    }
                }

            }

            .accordion-body {
                border-bottom: 1px solid $border-color;
                padding      : 20px 0 52px 0;
            }

            @media(max-width:1024px) {
                .collapse-parent {
                    display   : block;
                    height    : auto !important;
                    visibility: visible;
                }
            }
        }

        .brand-logo {
            text-decoration: none;

            img {
                height: 36px;
            }

            // em {
            //     @include fontSize(200, 200, 180, 180, 140, 100, 100)
            // }
        }

        ul {
            display        : flex;
            align-items    : flex-start;
            justify-content: space-between;
            width          : 100%;
            margin         : 0 20px;
            padding        : 0;

            li {
                list-style : none;
                font-size  : 18px;
                font-weight: bold;
                font-family: $bold-text;
                min-width  : 200px;

                ul {
                    padding: 0;
                    margin : 0;
                    display: block;

                    li {
                        font-size: 14px;
                        color    : $COOLGRAY;
                    }
                }
            }

            &.top-menus {
                @media(max-width:1024px) {
                    display: none;
                }
            }

            &.submenu-outer {
                @media(max-width:1024px) {
                    flex-wrap: wrap;
                    margin: 0;
                    min-width: 100%;

                    li {
                        width: 100%;
                    }
                }
            }
        }

        .inner-accordion {

            .inner-accordion-title {
                padding        : 10px 0;
                text-decoration: none;
            }

            .accordion-body {
                border: none;

                ul {
                    li {
                        &:not(:last-child) {
                            padding-bottom: 10px;
                        }

                        a {
                            text-decoration: none;
                            color          : $COOLGRAY;
                            font-size      : 14px;
                            line-height    : 22px;

                        }
                    }
                }
            }

            @media(min-width:1024px) {
                .collapse {
                    display   : block;
                    height    : auto !important;
                    visibility: visible;
                }

                .inner-accordion-title {
                    display: none;
                }
            }
        }

        .collapse-btn {
            white-space: nowrap;
            font-size  : 18px;
            color      : $WARMGRAY;
        }

        @media(max-width:1024px) {
            .collapse-btn {
                display: none;
            }
        }
    }

    .mid-section {
        display        : flex;
        justify-content: space-between;
        align-items    : center;

        .social-outer {
            padding    : 0;
            margin     : 0;
            display    : flex;
            align-items: center;

            li {
                list-style: none;

                &:not(:last-child) {
                    padding-right: 20px;
                }

                a {
                    display        : flex;
                    align-items    : center;
                    justify-content: center;
                    height         : 36px;
                    width          : 36px;
                    border-radius  : 50%;
                    background     : $primary;
                    color          : red;
                    font-size      : 20px;
                    text-decoration: none;
                }
            }

        }

        .newsletter-outer {
            display     : flex;
            margin-right: 80px;
            align-items : center;
            padding     : 25px 0;

            p {
                color        : #000000;
                font-size    : 18px;
                line-height  : 22px;
                padding-right: 20px;
                white-space  : nowrap;
            }

            .form-control {
                color       : $primary;
                border-color: $primary;
                font-size   : 18px;
                line-height : 22px;
                min-width   : 178px;
                height      : 48px;

                &::placeholder {
                    color: $primary;
                }
            }
        }

        .contact {
            margin     : 0;
            padding    : 0;
            display    : flex;
            align-items: center;

            li {
                list-style: none;

                &:not(:last-child) {
                    padding-right: 60px;
                }

                a {
                    text-decoration: none;
                    font-size      : 18px;
                    line-height    : 22px;
                    display        : flex;
                    align-items    : center;
                    font-family    : $regular-text;

                    em {
                        font-size    : 32px;
                        padding-right: 10px;
                    }
                }
            }
        }

        @media(max-width:1024px) {
            flex-wrap         : wrap;
            justify-content   : center;
            padding           : 20px 0;
            // .social-outer {
            //     padding    : 0;
            //     margin     : 0;
            //     display    : flex;
            //     align-items: center;

            //     li {
            //         list-style: none;

            //         &:not(:last-child) {
            //             padding-right: 20px;
            //         }

            //         a {
            //             display        : flex;
            //             align-items    : center;
            //             justify-content: center;
            //             height         : 36px;
            //             width          : 36px;
            //             border-radius  : 50%;
            //             background     : $primary;
            //             color          : red;
            //             font-size      : 20px;
            //             text-decoration: none;
            //         }
            //     }

            // }

            .newsletter-outer {
                margin-right: 0;

                // p {
                //     font-size    : 18px;
                //     line-height  : 22px;
                // }

                // .form-control {
                //     font-size   : 18px;
                //     line-height : 22px;
                //     min-width   : 178px;
                // }
            }

            .contact {
                flex-wrap      : wrap;
                justify-content: center;

                // li {

                //     &:not(:last-child) {
                //         padding-right: 60px;
                //     }

                //     a {
                //         font-size      : 18px;
                //         line-height    : 22px;

                //         em {
                //             font-size    : 32px;
                //         }
                //     }
                // }
            }
        }

        @media(max-width: 576px) {
            .contact {

                li {
                    width          : 100%;
                    display        : flex;
                    justify-content: center;

                    &:not(:last-child) {
                        padding-right : 0px;
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }

    .botm-section {
        display        : flex;
        align-items    : center;
        justify-content: space-between;
        padding        : 40px 0;
        border-top     : 1px solid $border-color;

        p {
            color      : $COOLGRAY;
            font-size  : 18px;
            line-height: 22px;
        }

        ul {
            padding        : 0;
            margin         : 0;
            display        : flex;
            align-items    : center;
            justify-content: end;

            li {
                list-style: none;

                &:last-child {

                    a {
                        padding-right: 0;
                        border-right : none;

                    }
                }

                a {
                    text-decoration: none;
                    font-size      : 18px;
                    font-weight    : 22px;
                    padding        : 0 10px;
                    border-right   : 1px solid $primary;
                }
            }
        }

        @media(max-width:1024px) {
            flex-wrap      : wrap;
            justify-content: center;

            p {
                padding-bottom: 20px;
            }

            ul {
                flex-wrap      : wrap;
                justify-content: center;
            }
        }

        @media(max-width:576px) {
            padding: 20px 0;

            p {
                text-align: center;
            }
        }
    }
}